body{
    background-image: url("../images/the-christmas-tree.jpg");
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient();
    background-attachment: fixed;
    background-position: center;
    background-size: cover;



}

.backdrop{
    background-color: aliceblue;
    margin: 0px;
    position: absolute;
    left: 0px ;
    top: 210px;    
    width: 100vw;
    height: 70vh;
    bottom: 100px;
    color: aliceblue;
    
}
.register{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    min-height: 600px;
    background-color: #CBDCCB;
    padding: 20px 50px 20px  50px;
    border-radius: 30px;
}
.auth_login{
    position: absolute;
    right:100px;
}
.auth_reg{
    position: absolute;
    right:150px;
}
/* Every form will involve a label and input */
.Login{
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    height: 600px;
    background-color: red;
    padding: 20px 50px 20px  50px;
    border-radius: 30px;
}

label{
    display: block;
}
label{
    margin-top: 5px;
    margin-bottom: 5px;
}




.submit{
    justify-content: center;
    margin-left: 11rem;
    margin-top: 5%;
    background-color: #04AA6D;
    border-radius: 10px;
    color: aliceblue;
}