{% extends 'page/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="backdrop">
  <div class="container">
  
  <div class="row">
        {% for dests in dest1 %}
        <div class="column">
            <div class="card h-200" style="padding-left: 10px; padding-inline: 10px; height: 500px;"><h1>{{dests.name}}</h1>
              <img src="{{dests.img.url}}" class="center" alt="" style="width: 200px; height: 200px; ">
              <hr>
              <p>{{dests.desc}}</p>
              <form action='book' method="post">
                {% csrf_token %}
                <input type="text" name="interface" value="{{dests.id}}" hidden>
                <input type="submit" class="btn btn-primary" name="Book" value='Book'>
              </form>
            </div>
        </div>
        {% endfor %}
    </div>
    </div> 

</div>

{% endblock %}  