{% extends 'page/base.html' %}
{% block content %}

<div class="backdrop">
  <div class="container">
  
  <div class="row">
        <div class="column">
            <div class="card h-100" style="padding-left: 10px; padding-inline: 10px;"><h1>Santas Lapland</h1>
              <hr>
              <p>The Lapland has all the wonders that your child could explore the ringing bells and christmas gems. Visit us to get the christmas spirits</p>
              <a href="{% url 'book' %}" class="btn btn-primary">Book</a>
            </div>
        </div>
        <div class="column">
          <div class="card h-100" style="padding-left: 10px; padding-inline: 10px;"> <h1>Santas WorkShop</h1><hr>
            <a href="{% url 'book' %}" class="btn btn-primary">Book</a>
          </div>
        </div>
        <div class="column">
          <div class="card h-100" style="padding-left: 10px; padding-inline: 10px;">  <h1>Reindeer Trip</h1><hr>
            <a href="{% url 'book' %}" class="btn btn-primary">Book</a>
          </div>
          </div>
    </div>
  </div>  

</div>
</div>

{% endblock %}  